/*!
 * 搜索框
 */
.search-form
  position relative
  padding 10px 70px 0 0
  .form-control
    display block
    width 100%
    padding 5px 5px 5px 10px
    border 2px solid c-ddd
    border-right 0
    outline 0
    box-shadow 2px 2px 4px rgba(0, 0, 0, .07) inset
  .btn
    position absolute
    top 10px
    right 0
    width 70px
    padding 7px 0
    &:hover
      opacity .75



/*搜索框*/
.search {
  width: 100%;
  height: 44px;
  margin-top: 1px;
  padding: 0 20px;
  font-family: inherit;
  border: 2px solid transparent;
  border-bottom: 2px solid #d3d3d3;
  border-radius: 2px;
  opacity: 0.65;
  background: none;
  outline: none;
  padding-right: 50px;
}
.search:hover, .search:focus{
  border: 2px solid #d3d3d3;
  opacity: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


/*搜索结果区*/
#local-search-result {
  font-size: 0.9em;
  text-align: left;
  word-break: break-all;
  position: absolute;
  background: #fff;
  z-index: 999;
  width: 100%;
  box-shadow: 1px 1px 10px 2px gray;
  padding-right: 20px;
  box-sizing: border-box;
  transition: all .3s;
}

#local-search-result ul.search-result-list li:hover {
  font-weight: normal;
}

/*单条搜索结果*/
#local-search-result li {
  margin: 0.5em auto;
  border-bottom: 2px solid #d3d3d3;
}
#local-search-result .search-result-list li:hover {
  background: rgba(158,188,226,0.21);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

/*匹配的标题*/
#local-search-result a.search-result-title {
  line-height: 1.2;
  font-weight: bold;
  color: #708090;
}

/*搜索预览段落*/
#local-search-result p.search-result {
  margin: 0.4em auto;
  line-height: 1.2em;
  max-height: 3.6em;
  overflow: hidden;
  font-size: 0.8em;
  text-align: justify;
  color: #808080;
}

/*匹配的关键词*/
#local-search-result em.search-keyword {
  color: #f58e90;
  border-bottom: 1px dashed #f58e90;
  font-weight: bold;
  font-size: 0.85em;
}

/*无匹配搜索结果时显示*/
p.no-result {
  display: none;
  margin: 2em 0 2em 6%;
  padding-bottom: 0.5em;
  text-align: left;
  color: #808080;
  font-family: font-serif serif;
  border-bottom: 2px solid #d3d3d3;
}

// 清除搜索
#site_search{
  position: relative;  
}
.search-clear{
  display:inline-block;
  position: absolute;
  right: 20px;
  top: 10px;
  width: 25px;
  height: 25px;
  // border: 2px solid #ff5e52;  
  cursor: pointer;
  transition: all .3s;
}
.search-clear:hover{
  background: #ff5e52;
  border-radius: 50%;
}
.search-clear:hover::before{
  background: #fff;  
}
.search-clear:hover::after{
  background: #fff;  
}
.search-clear::before{
  content: '';
  position:absolute;
  left:50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%) rotateZ(45deg);
  width:  2px;
  height: 20px;
  background: #ff5e52;  
}
.search-clear::after{
  content: '';
  position:absolute;
  left:50%;
  top: 50%;
  transform:translateY(-50%) translateX(-50%) rotateZ(-45deg);
  width:  2px;
  height: 20px;
  background: #ff5e52;  
}